
.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    word-spacing: 4px;
    font-family: Outfit;
    /* font-size: 17px; */


}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;

}
.main-container {
    max-width: 900px;
    margin: auto;
    /* border: 1px solid black; */
}
.main-container .greet{
    margin: 50px 0;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
/* .main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.main .greet span{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(-45deg, #ff0080, #7928ca, #2a6cfa, #006efe);
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientShift 5s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,  1fr));
    gap: 15px;
    padding: 20px;
}
.cards .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.card p{
    color: #585858;
    font-size: 17px;

}

.main-container .card:hover{
    background-color: #dfe4ea;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
    /* border: 1px  solid black; */
    /* margin-top: 100px; */
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 24px;
    cursor: pointer;

}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 10px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;

}
.result::-webkit-scrollbar{
    display: none;

}
.result-title{
    margin: 40px 0px ;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img{
    width: 40px;
    border-radius: 50%;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader {
    0%{
        background-position: -800px 0px;

    }
    100%{
        background-position: 800px 0px;

    }
    
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;

}


@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
    .cards{
        display: none;
    }
    .main{
        max-width: 600px;
    }
    .main .content{
        max-width: 100%;
       }
    
}
b{
    /* color: red; */
    font-weight: 600;
}
div pre{
    /* background-color: blue; */
    /* color: black; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

div #pre-code{
    font-family: monospace;
    font-size: 16px;
    background-color: rgb(173, 173, 173);
    padding: 3px 7px;
    border-radius: 3px;
    margin-top: 1px;

}
* {
    box-sizing: border-box;
    word-wrap: break-word;
}

/*  */

.result-data .content {
    width: 100%;
    overflow-x: auto;
    word-break: break-word;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

code, #pre-code {
    white-space: pre-wrap;
    word-break: break-word;
}
pre, code {
    white-space: pre-wrap !important;
    word-break: break-word !important;
}
